:root {
  --lane-top-pos: 2rem;
  --lane-border-color: #776050;
  --lane-border-width: 0.2rem;
  --block-size: 4rem;
  --lane-blocks: 10;
  /* the 0.4rem at the end might be border width? */
  --lane-height: calc(var(--block-size)*var(--lane-blocks) + var(--block-size)*0.5 + 0.4rem);
}

html {
	padding: 0;
	margin: 0;
}

body {
	background: #333;
	color: #ddd;
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: ubuntu;
}

.score-container {
	height: 60px;
}

.score {
	display: inline-block;
	width: 11rem;
	height: 3.5rem;
	padding: 0.3rem;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	margin: 0;
	background: #444;
	color: white;
	float: left;
	box-sizing: border-box;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
	border: 0.2rem solid #333;
	border-top: none;
	border-left-style: none;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 0;

	text-align: right;
	font-size: 1.3rem;
	font-weight: bold;
}
.score .label {
	color: #bbb;
	font-size: 0.9rem;
	font-weight: normal;
	text-align: left;
}
.high-score {
	float: right;
	border-left-style: solid;
	border-bottom-left-radius: 1rem;
	border-right-style: none;
	border-bottom-right-radius: 0;
}

.lane {
	display: inline-block;
	position: fixed;
	top: calc(var(--lane-top-pos));
	flex-direction: column;
	align-items: flex-start;
	width: 4.4rem;
	height: var(--lane-height);
	border: var(--lane-border-width) solid var(--lane-border-color);
	border-top-width: calc(var(--lane-border-width)*2.0);
	border-left-width: calc(var(--lane-border-width)*0.5);
	border-right-width: calc(var(--lane-border-width)*0.5);
	border-bottom: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.lane:first-child {
	border-left-width: calc(var(--lane-border-width));
	border-top-left-radius: 0.8rem;
}
.lane:last-child {
	border-right-width: calc(var(--lane-border-width));
	border-top-right-radius: 0.8rem;
}
#lane_0 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2);
}
#lane_1 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 1*(var(--block-size) + 0.4rem));
}
#lane_2 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 2*(var(--block-size) + 0.4rem));
}
#lane_3 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 3*(var(--block-size) + 0.4rem));
}
#lane_4 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 4*(var(--block-size) + 0.4rem));
}
#lane_5 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 5*(var(--block-size) + 0.4rem));
}
#lane_6 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 6*(var(--block-size) + 0.4rem));
}
#lane_7 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 7*(var(--block-size) + 0.4rem));
}
#lane_8 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 8*(var(--block-size) + 0.4rem));
}
.lane:hover {
	background: linear-gradient(transparent 80%, #367);
}

.play-container {
	display: inline-block;
	position: fixed;
	top: calc(var(--lane-top-pos) + var(--lane-height) + 2rem);
	width: calc(var(--block-size) + var(--block-size)*0.75) + 1rem;
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + (var(--block-size) + 0.4rem)*2);
	/* background: #444; */
	border: 0.2rem solid white;
	border-style: none;
	border-top-style: solid;
	padding: 0.3rem;
	box-sizing: border-box;
}

.block {
	display: inline-block;
	background: gray;
	text-shadow: 0 0 0.2rem white;
	box-shadow: inset 0 0 0.2rem black, 0 0.2rem 0.5rem black;
	color: black;
	width: var(--block-size);
	height: var(--block-size);
	line-height: var(--block-size);
	border-radius: 0.5rem;
	border-style: none;
	border-width: 0.3rem;
	border-left-color: white;
	border-right-color: white;
	border-top-color: #ff6;
	border-bottom-color:  #ff6;
	margin: 0.1rem;

	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
	box-sizing: border-box;
	/* opacity: 1; */
	transition: opacity 0.5s;
}

.small {
	width: calc(var(--block-size)*0.75);
	height: calc(var(--block-size)*0.75);
	position: relative;
	top: calc(var(--block-size)*0.25/2);
	line-height: calc(var(--block-size)*0.75);

	font-size: 1.3rem;
}

.block-pending {
	position: fixed;
	top: calc(var(--lane-top-pos) + var(--lane-height) - calc(var(--block-size)*0.75/2));
	box-shadow: 0 0 0.6rem 0.3rem white;
}
