html {
	padding: 0;
	margin: 0;
}
:root {
  --lane-height: 42.3rem;
  --lane-left-pos: 4rem;
  --lane-border-color: #865;
  --block-size: 4rem;
}

body {
	background: #222;
	color: #ddd;
	padding: 0;
	margin: 0;
	user-select: none;
}

.score-container {
	height: 60px;
}

.score {
	display: inline-block;
	width: 10rem;
	height: 3.2rem;
	padding: 0.3rem;
	background: #444;
	color: white;
	float: left;

	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}
.score .label {
	font-size: 0.9rem;
	font-weight: normal;
}
.high-score {
	float: right;
}

.lane-container {
	background: #282828;
	width: calc(4rem * 10 + 1rem);
	height: 40rem;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
.lane {
	display: inline-block;
	position: fixed;
	top: 6rem;
	flex-direction: column;
	align-items: flex-start;
	width: 4.4rem;
	height: var(--lane-height);
	border: 0.2rem solid var(--lane-border-color);
	border-left-width: 0.1rem;
	border-right-width: 0.1rem;
	border-bottom: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#lane_0 {
	border-left-width: 0.2rem;
	border-top-left-radius: 0.8rem;
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2);
}
#lane_1 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 1*(var(--block-size) + 0.4rem));
}
#lane_2 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 2*(var(--block-size) + 0.4rem));
}
#lane_3 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 3*(var(--block-size) + 0.4rem));
}
#lane_4 {
	left: calc(50% - (5*(var(--block-size) + 0.4rem))/2 + 4*(var(--block-size) + 0.4rem));
	border-right-width: 0.2rem;
	border-top-right-radius: 0.8rem;
}
.lane:hover {
	background: linear-gradient(transparent 80%, #367);
}
.lane-slit {
	display: inline-block;
	width: 0.2rem;
	height: 100%;/* calc(6rem * 9); */
	background: #555;
	/* margin-top: 2rem; */
}
.play-container {
	display: inline-block;
	position: fixed;
	top: 50rem;
	width: 8rem;
	left: calc(50% - 8rem/2);
	/* background: #444; */
	border: 0.2rem solid white;
	padding: 0.3rem;
}

.block {
	display: inline-block;
	background: gray;
	text-shadow: 0 0 0.2rem white;
	box-shadow: inset 0 0 0.2rem black;
	color: black;
	width: var(--block-size);
	height: var(--block-size);
	line-height: var(--block-size);
	border-radius: 0.5rem;
	border-style: none;
	border-width: 0.3rem;
	/* border-color: white; */
	border-left-color: white;
	border-right-color: white;
	border-top-color: #ff7;
	border-bottom-color:  #ff7;
	margin: 0.1rem;

	text-align: center;
	vertical-align: center;

	font-size: 1.4rem;
	font-weight: bold;
	box-sizing: border-box;
	/* opacity: 1; */
	transition: opacity 0.5s;
}

.small {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;

	font-size: 1.3rem;
}

.block-pending {
	position: fixed;
	top: 47rem;
	box-shadow: 0 0 0.6rem 0.3rem white;
}
